@import "src/styles/colors.scss";

.in-outcome-statistics {
  margin-top: 10px;
  height: 265px;

  text {
    fill: #fff !important;
  }
  &__tooltip {
    height: 20px !important;
    background-color: $background-color-main-light;
    border-radius: 5px;
    margin: 70px 0 0 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
}
