.general-set {
  $self: &;
  margin: 0 30px 50px 60px;
  display: flex;
  flex-direction: column;

  &__fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 50%;

    .field {
      width: 100%;
      .MuiFormControl-root {
        display: flex;
        width: 100%;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;

    button {
      width: 90px;
    }
  }
}
