@import "src/styles/colors.scss";

.category-statistics {
  $self: &;
  &__title {
    margin-bottom: 0 !important;
  }
  &__category-outcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    padding: 10px 0 10px 20px;
    #{$self}__no-data {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 1.8rem;
      color: $background-color-main-light;
    }
    #{$self}__category-list {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      overflow: auto;
    }
    #{$self}__category-diagram {
      flex: 1;
      height: 100%;
      div {
        height: 100%;
      }
    }
  }
}
