@import "src/styles/colors.scss";

.transaction-block {
  $self: &;
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;

  #{$self}__cards-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 15px;

    height: 700px;
    overflow: scroll;
  }
}
