@import "src/styles/colors.scss";

.transaction-card {
  $self: &;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
  background-color: $background-color-main-light-o;
  border-radius: 15px;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #{$self}__title {
      font-size: 18px;
      font-weight: 600;
    }

    @mixin price {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .MuiChip-root {
        width: 70px;
      }
    }
    #{$self}__price--outcome {
      @include price;
      .MuiChip-root {
        background-color: $color-chip-outcome;
      }
    }
    #{$self}__price--income {
      @include price;
      .MuiChip-root {
        background-color: $color-chip-income;
      }
    }
    #{$self}__comment {
      font-size: 12px;
      font-weight: 400;
    }
    #{$self}__date {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
