$background-color-main: #1c1c1e;
$background-color-gradient-first: #505050;
$background-color-gradient-second: #4f4f4f00;
$background-color-main-dark: #0d0d0e5f;
$background-color-main-light: #45454b35;
