//color pallete
//#f94144, #f65738, #f36b2c, #f88a1e, #f5ae5c, #f2d29a, #95b66d, #387047, #347481, #74c8da

$background-color-main: #1c1c1e;
$background-color-main-light: #81818d;
$background-color-main-dark: #0f0f0f;

//opacity
$background-color-main-dark-o: #0d0d0e5f;
$background-color-main-light-o: #45454b35;

$background-color-gradient-first: #505050;
$background-color-gradient-second: #4f4f4f00;

$primary-color: #f88a1e;
$primary-color-border: #f88b1e80;

$color-chip-outcome: #f65738;
$color-chip-income: #95b66d;
