@import "/src/styles/colors.scss";

.filter-block {
  $self: &;
  margin: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    #{$self}__btn {
      width: 90px;
    }
    #{$self}__calendar {
      .MuiButton-root {
        background: none;
        color: $primary-color;
        border: 1px solid $primary-color-border;
      }
    }
  }
  &__bank-acc {
    #{$self}__form {
      width: 300px;

      .MuiBox-root {
        flex-wrap: nowrap;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        .MuiChip-root {
          height: 23px;
          font-size: 12px;
        }
      }
    }
  }
}
