@import "src/styles/colors.scss";
@import "src/styles/fonts.scss";

.main-page {
  $self: &;
  width: 100% !important;
  height: 100vh;
  background: linear-gradient(110deg, $background-color-main, 90%, $background-color-gradient-first);
  display: flex;

  &__analitycs-block {
    height: 100%;
  }

  &__transaction-block {
    height: 100%;
    #{$self}__transaction-wrap {
      display: flex;
      flex-direction: column;
      background-color: $background-color-main;
      height: 100%;
      overflow: hidden;
      #{$self}__tabs {
        margin: 10px 50px 30px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
